.home-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.main-comp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 100%;
}

.hero-title {
    grid-area: title;
    animation: fadeIn 4s ease;
    margin-bottom: 2em;
}

.hero-subtitle {
    grid-area: subtitle;
    font-weight: 300;
    font-style: italic;
    animation: slideIn 3s ease forwards;
}
/* 
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1;}
}

@keyframes slideIn {
    0% { margin-left: -3000px; }
    100% { margin-left: 0px; }
} */

.main-header {
    width: 50%;
}

.hero-image {
    width: 400px;
    height: 400px;
    background-image: url('../../images/Hero_Image.png');
    background-size: cover;
    background-repeat: none;
    margin-top: 5em;
}

@media only screen and (max-height: 500px) {
    .hero-image{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width:1000px) {
    .main-comp {
        flex-direction: column;
        gap: 1em;
        padding-top: 3em;
    }
    .main-header {
        width: 100%;
    }
    .hero-image {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .hero-image {
        width: 200px;
        height: 200px;
    }

    .hero-title {
        font-size: 1.5em;
    }

    .hero-subtitle {
        font-size: 1em;
    }
}