.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-subtitle {
    font-weight: lighter;
    font-size: 1.2em;
}

.hero-image {
    width: 70%;
    height: auto;
    max-width: 300px;
}

@media only screen and (min-width: 750px) {
    .home-page {
        align-self: center;
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
    }
}

































/* .home-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.main-comp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.hero-title {
    grid-area: title;
    margin-bottom: 2em;
}

.hero-subtitle {
    grid-area: subtitle;
    font-weight: 300;
    font-style: italic;
}

.main-header {
    width: 50%;
}

.hero-image {
    width: 400px;
    height: 400px;
    background-image: url('../../images/Hero_Image.png');
    background-size: cover;
    background-repeat: none;
    margin-top: 5em;
}

@media only screen and (max-height: 500px) {
    .hero-image{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width:1000px) {
    .main-comp {
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 1em;
        justify-content: flex-end;
    }
    .main-header {
        width: 100%;
    }
    .hero-image {
        margin: 0;
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .hero-image {
        width: 200px;
        height: 200px;
    }

    .hero-title {
        font-size: 1.5em;
    }

    .hero-subtitle {
        font-size: 1em;
    }
} */