.project-container {
    width: 100%;
    height: fit-content;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas: 
                    "image title"
                    "image links"
                    "image description";
    row-gap: 1em;
    font-size: 1.2em;
}

figure {
    width: 50%;
    height: fit-content;
}

figcaption {
    display: flex;
    justify-content: space-evenly;
}

.title {
    grid-area: title;
}
.image {
    grid-area: image;
}

.image img {
    margin-top: -50px;
    padding-right: 20px;
    width: 200%;
    height: auto;
}
.description {
    grid-area: description;
    
}

.triangle {
    height: 40px;
    width: 50px;
    margin: 0.5em;
    animation: spin;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.triangle-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-right: 2em;
    justify-content: center;
    animation: gap 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.triangle-container:hover {
    animation-play-state: running;
}

.triangle:hover {
    animation-play-state: running;
}

@keyframes gap {
    0% { gap: 0 }
    100% { gap: 50px }
}

.links {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.live-site-link , .github-repo-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0.5em;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .triangle-container {
        width: 300px;
    }
  }

  @media only screen and (min-width: 1200px) {
    img {
        width: 150%;
    }
  }

  @media only screen and (max-width: 700px) {
    .project-container {
        /* height: 800px; */
        grid-template-columns: 1fr;
        
    }

    h3 {
        text-align: center;
    }
  }

@media only screen and (max-width: 800px) {
    .project-container {
        /* height: 400px; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr auto;
        grid-template-areas: 
                        "title title"
                        "image links"
                        "image description";
    }

    .project-container h3 {
        text-align: center;
    }

    .links {
        gap: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .project-container {
        /* height: 800px; */
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px 100px 1fr;
        grid-template-areas: 
                        "image"
                        "title"
                        "links"
                        "description";
    }
}

@media only screen and (max-width: 500px) {
    .project-container {
        margin: 0 auto;
    }
    .triangle-container {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 400px) {
    .project-container {
        margin: 0 auto;
    }
    .triangle-container {
        margin: 0 auto;
    }
    .links {
        align-items: center;
    }
    .links svg {
        font-size: 1.5em;
    }
    .links a {
        gap: 0;
        padding: 0 1em;
        width: 100%;
    }
}