.nav-btn {
    height: 100%;
    background-color: transparent;
    font-size: 1em;
}


.nav-btn:hover {
    cursor: pointer;
    
}

.nav-btn:active {
    background-color: transparent;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
}

@media only screen and (max-width: 650px) {
    .nav-btn {
        height: 50px;
    }
}