.styled-laptop {
    z-index: 100;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 55px;
}

.nested-image {
    margin: 0 auto;
    position: relative;
    top: 45px;
    width: 75%;
    height: fit-content;
    overflow: hidden;
    padding-bottom: 50px;
}