.component {
    overflow: clip;
}

.org-squ-container {
    width: 300px;
    height: 400px;
    overflow: visible;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 10;
}

.org-square {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: rotate(45deg);
    left: -300px;
}

.org-squ-container:hover > .org-square {
    animation: rotate 2s ease-in-out 0s infinite alternate forwards;
}

@keyframes rotate {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(135deg);
    }
}

.blu-rec-master-container {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.blu-rec-container {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
}

.blu-rectangle {
    width: 400px;
    height: 600px;
    background-color: #04c1faad;
    position: absolute;
    transform: rotate(30deg);
    right: -250px;
    bottom: -400px;
    overflow: hidden;
}

.blu-rec-container2 {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -400px;
    transform: rotateZ(180deg);
    transform: rotateX(180deg);
}

.blu-rectangle2 {
    width: 400px;
    height: 600px;
    background-color: #04c1faad;
    position: absolute;
    transform: rotate(30deg);
    right: -250px;
    bottom: -400px;
    overflow: hidden;
}

.blu-rec-master-container:hover {
    animation: slide 2s ease-in-out 0s infinite alternate forwards;
}

@keyframes slide {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-100px)
    }
}

.main-comp {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-square2 {
    position: fixed;
    top: 100;
    z-index: 1;
}
.org-square3 {
    top: 250%;
}
.org-square4 {
    top: 300%;
}