.side-navbar-list {
    list-style: none;
    display: flex;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
    transition: all .8s ease-in-out;
}

.side-navbar-list.active {
    transform: translateX(0px)
    /* animation: slideIn 1.2s;
    animation-direction: alternate;
    animation-play-state: running;
    left: 0px; */
}

.side-navbar-list.inactive {
    transform: translateX(-300px)
    /* animation: slideOut 1.2s;
    animation-play-state: running;
    left: -300px; */
}

@keyframes slideIn {
    from { left: -300px }
    to { left: 0px }
}

@keyframes slideOut {
    from { left: 0px }
    to { left: -300px }
}

@media only screen and (max-width: 650px) {
    .side-navbar-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 50;
        height: 100%;
        width: 300px;
        padding: 50px 20px;
    }
    #navMenu {
        display: flex;
    }
}

@media only screen and (min-width: 650px) {
    #navMenu {
        display: none;
    }
    .side-navbar-list {
        display: none;
    }
}
/* 
.menu {
    position: fixed;
    width: 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

#navMenu:hover {
    cursor: pointer;
}

#navMenu {
    z-index: 100;
    margin: 20px 15px;
    flex-direction: column;
    gap: 5px;
    position: fixed;
}
#navMenu > span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 9999px;
}

#navMenu, #navMenu > span {
    transition: all .2s linear;
}
#navMenu.active {
    transition-delay: 0.1s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2) {
    width: 0;
}
#navMenu.active > span:nth-child(1), 
#navMenu.active > span:nth-child(3) {
    transition-delay: .1s;
}
#navMenu.active > span:nth-child(1) {
    transform: translateY(8px);
}
#navMenu.active > span:nth-child(3) {
    transform: translateY(-8px) rotate(90deg);
}
