.side-navbar-list {
    width: 300px;
    list-style: none;
    display: flex;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
    transition: all .8s ease-in-out;
}

.side-navbar-list.active {
    transform: translateX(0px);
    
}

.side-navbar-list.inactive {
    transform: translateX(-400px);
}

@keyframes slideIn {
    from { left: -300px }
    to { left: 0px }
}

@keyframes slideOut {
    from { left: 0px }
    to { left: -300px }
}

@media only screen and (max-width: 750px) {
    .side-navbar-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 50;
        height: 100%;
        width: 300px;
        padding: 50px 20px;
    }
    #navMenu {
        display: flex;
    }
}

@media only screen and (min-width: 750px) {
    #navMenu {
        display: none;
    }
    .side-navbar-list {
        display: none;
    }
}


