.contact-container {
    margin: 10em 0;
    padding: 2em;
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* backdrop-filter: blur(16px); */
    background-color: rgba(253, 253, 253, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.contact {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    gap: 1em;
}

.contact label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact input, .contact textarea {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 20px;
    font-family: 'Open Sans';
}

.contact textarea {
    height: 200px;
}

.contact-org-squ-container {
    height: fit-content;
    position: absolute;
    left: -100px;
    bottom: 60vh;
    transform: rotate(45deg);
    z-index: -1;
}

.contact-org-square {
    width: 200px;
    height: 200px;
}

.contact-blu-rec-master-container {
    height: fit-content;
    position: absolute;
    width: 100px;
    height: 200px;
    z-index: -1;
    right: 0;
    bottom: calc(100vh + 100px);
}

.contact-blu-rectangle {
    width: 100%;
    height: 100%;
}

.contact-blu-rectangle2 {
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
}

@media only screen and (min-width: 750px) {
    .contact-container {
        width: 70%;
    }
    .contact input, .contact textarea, .contact label {
        font-size: 0.9em;
    }
}

