.switch {
    width: 80px;
    height: 40px;
    background-color: grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.switch span {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    margin-left: 5px;
    transition: 0.5s;
}

.switch.active span {
    transform: translateX(40px);
}