* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.25em;
}

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    /* background-color: #e0e0e0; */
    font-family: 'Open Sans';
    text-align: center;
}

.component {
    /* border: 1px solid black; */ 
    display: flex;
    justify-content: center;
}