.about-container {
    margin: 0 auto;
	display: grid;
	width: 70%;
	height: auto;
	grid-template-columns:repeat(2, 7.5em) repeat(2, 1fr);
	grid-template-rows: repeat(2, 7em) repeat(2, auto);
	grid-template-areas:
				"image image header header" 
				"image image bio bio"
				"skills skills bio bio"
				"skills skills bio bio";
	justify-items: center;
	justify-content: center;
	gap: 2em;
    text-align: left;
}

.about-hero-section-title {
	grid-area: header;
	align-self: flex-end;
}

.about-margin {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.about-hero-image {
	background-image: url("../../images/Drums-Graham.jpg");
	width: 15em;
	height: 15em;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	grid-area: image;
}

.about-bio {
	grid-area: bio;
	line-height: 1.2em;
	letter-spacing: 1px;
    height: auto;
}

.about-section-skills {
	display: flex;
    flex-direction: column;
	margin-top: 2em;
    height: 15em;
	justify-content: center;
	align-items: center;
	position: relative;
	grid-area: skills;
}

#skills {
	grid-area: skills;
	justify-content: center;
}
#html {
	grid-area: html;
	justify-content: center;
}
#react {
	grid-area: react;
	justify-content: center;
}
#java {
	grid-area: java;
	justify-content: center;
}
#git {
	grid-area: git;
	justify-content: center;
}

.about-section-skills li {
    list-style: none;
	margin: 0.2em;
	padding: 0.5em;
	line-height: 1.2em;
	letter-spacing: 0.4em;
	text-align: center;
	border-radius: 10px;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
	font-weight: bold;
}

.skill-icon {
	font-size: 2em;
	margin-right: 0.5em;
}

@media only screen and (max-width: 900px) {
	.about-container {
		grid-template-rows: auto;
		grid-template-columns: 1fr;
		grid-template-areas: 
						"header"
						"image"
						"skills"
						"bio"
						"bio";
		gap: 3em;
	}
	.about-section-skills {
		flex-direction: row;
		flex-wrap: wrap;
		width: 60%;
	}
	.about-section-skills li {
		height: 40px;
	}
	.about-section-skills li:first-of-type {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.about-container {
		grid-template-columns: 1fr;
		grid-template-areas: 
						"header"
						"image"
						"skills"
						"bio";
	}
	
}